@inject IStringLocalizer<LoginDisplay> L

<AuthorizeView>
    <Authorizing>
        <div>@L["Authorizing"] ...</div>
    </Authorizing>
    <Authorized>
        <div>@L["YouAreLoggedAs"] @context.User.Identity.Name</div>
    </Authorized>
    <NotAuthorized>
        <div>@L["Not authorized"]!</div>
    </NotAuthorized>
</AuthorizeView>
