<AuthorizeView>
    <Authorizing>
        <div>Authorizing ...</div>
    </Authorizing>
    <Authorized>
        <div>You are logged as @context.User.Identity.Name</div>
    </Authorized>
    <NotAuthorized>
        <div>Not authorized!</div>
    </NotAuthorized>
</AuthorizeView>
