@page "/full-userinfos"

@using Newtonsoft.Json

@attribute [Authorize]

<p>Current user :</p>
<div id="jsonRender"></div>

@code {
    [Inject]
    IJSRuntime JsRuntimeInstance { get; set; }

    [Inject]
    AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        var currentIdentity = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        var jsonString = JsonConvert.SerializeObject(currentIdentity, new JsonSerializerSettings { ReferenceLoopHandling = ReferenceLoopHandling.Ignore, Formatting = Formatting.None });
        await JsRuntimeInstance.InvokeVoidAsync("ProxyChecker.renderJson", "jsonRender", jsonString);
    }
}
